.suggestion-wrapper {
    position: relative;
    display: inline-block
}

.suggestion-wrapper:focus {
    background-color: red;
    width: 1000px;
}

.suggestions {
    display: none;
    position: absolute;
    bottom: 100%;
    width: 100%;
    max-height: 300%;
    overflow-x: auto;


    background-color: var(--light-background-color);
}

.suggestions::-webkit-scrollbar{
    display: none;
}

.suggestion:active{
    display: block;
}

.suggestions:has(+ input:focus){
    display: block;
    
}

.suggestions .suggestion{
    padding: 1rem 1.5rem;
    /* border: 1px solid rgba(0, 0, 0, 0.024); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.064);;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.034);
    color: var(--light-primary-dark)
}


.suggestions .suggestion:hover{
    background-color: rgba(0, 0, 0, 0.075);
}


